.menu-item-modal {
  display: grid;
  gap: 2rem;
}

.menu-item-modal-header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  padding: 2rem;
}

.menu-item-modal-heading {
  font-size: 2.8rem;
  margin-bottom: 0rem;
}

.menu-item-modal-price {
  color: var(--color-medium);
  font-size: 2.2rem;
  font-weight: 900;
}

.menu-item-modal-description {
  font-size: 1.6rem;
}

.decorative-break {
  border: 8px solid lightgray;
  width: 100%;
}

.menu-item-modal-content {
  padding: 2rem;
}

.menu-item-modal-form {
  display: grid;
  gap: 4rem;
}

fieldset {
  border-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

legend {
  font-size: 1.8rem;
  font-weight: 700;
}

.radio-container {
  align-items: center;
  display: flex;
}

input[type="radio"],
label {
  width: fit-content;
}

input[type="radio"] {
  margin-right: 1rem;
}

input[type="radio"]:hover {
  cursor: pointer;
}

.menu-item-modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-to-cart-btn {
  background-color: var(--color-bold);
  border-radius: 4rem;
  color: var(--color-extralight);
  border-style: none;
  font-weight: 500;
  padding: 1.5rem 6rem;
}

.add-to-cart-btn:hover {
  background-color: var(--color-medium);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
