.menu-container {
  display: grid;
  gap: 6rem;
  padding: 4rem 2rem;
}

.quick-drinks,
.specialty-drinks,
.pastries {
  display: grid;
  gap: 2rem;
}

.menu-item {
  background-color: white;
  border: 1.5px solid lightgray;
  border-radius: 0.5rem;
  display: grid;
  padding: 2rem;
  gap: 1rem;
  width: 100%;
}

.menu-item:hover {
  cursor: pointer;
  opacity: 0.5;
}

.menu-item-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.menu-item-name,
.menu-item-price,
.menu-item-description {
  font-size: 1.6rem;
}

.menu-item-name,
.menu-item-price {
  font-weight: 900;
}

.menu-item-price {
  color: var(--color-medium);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .menu-container {
    padding: 6rem 15rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .menu-container {
    padding: 8rem 15rem;
  }

  .quick-drinks,
  .specialty-drinks,
  .pastries {
    grid-template-columns: 1fr 1fr;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
